<!-- Pages/Register.razor -->
@page "/register"
@using System.Net.Http
@using System.Net.Http.Json
@using RestaurantReservation.Front.Utils
@inject HttpClient Http
@inject NavigationManager Navigation

<EditForm Model="@registerModel" OnValidSubmit="@HandleRegister">
    <div class="form-group">
        <label>First Name:</label>
        <InputText class="form-control" @bind-Value="registerModel.FirstName" />
    </div>
    <div class="form-group">
        <label>Last Name:</label>
        <InputText class="form-control" @bind-Value="registerModel.LastName" />
    </div>
    <div class="form-group">
        <label>Email:</label>
        <InputText class="form-control" @bind-Value="registerModel.Email" />
    </div>
    <div class="form-group">
        <label>Password:</label>
        <InputText type="password" class="form-control" @bind-Value="registerModel.Password" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    private RegisterUserModel registerModel = new RegisterUserModel();

    private async Task HandleRegister()
    {
        var response = await Http.PostAsJsonAsync($"{Endpoints.Users}/register" , registerModel);
        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo(PagesUrls.Login);
        }
        else
        {
            Console.WriteLine("Registration failed");
        }
    }

    public class RegisterUserModel
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
    }
}